# /avalon/docker-compose.prod.yaml
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: avalon-backend
    environment:
      - NODE_ENV=production
      - BACKEND_ENV=${BACKEND_ENV}
      - ARCHIMEDES_ENV_B64=${ARCHIMEDES_ENV_B64}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - EMAIL_USER=${EMAIL_USER}
    volumes:
      - ./secrets/credentials.json:/app/credentials.json:ro
    expose:
      - "5000"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: avalon-nginx
    ports:
      - "80:80"
    depends_on:
      - backend
