# /avalon/docker-compose.prod.yaml
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: avalon-backend
    env_file:
      - backend/.env
    environment:
      - NODE_ENV=production
    expose:
      - "5000"
  
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: avalon-nginx
    ports:
      - "80:80"
    depends_on:
      - backend
