# /avalon/docker-compose.prod.yaml
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: avalon-backend
    environment:
      - NODE_ENV=production
      - BACKEND_ENV=${BACKEND_ENV}
      - ARCHIMEDES_ENV=${ARCHIMEDES_ENV}
      - FIRESTORE_CREDENTIALS_CONTENT_BASE64=${FIRESTORE_CREDENTIALS_CONTENT_BASE64}
    expose:
      - "5000"
  
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: avalon-nginx
    ports:
      - "80:80"
    depends_on:
      - backend
